<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
-->
<% include ../partials/header %>
<div class='pizza'>
  <% pizza.forEach(function(pizza) { %>
    <div class='my-pizza'>
      <h3 class='pizza-flavor'><%= pizza.flavor %></h3>
      <p class='location'>Location: <%= pizza.location %></p>
      <img class='image' src='<%= pizza.image %>' alt='<%= pizza.flavor %>' + ' pizza'>
    </div>
<%  }) %>
</div>
<% include ../partials/footer %>
